version: "3.9"
services:

  haproxy:
    container_name: haproxy
    ports:
      - 80:80
      - 443:443
    image: haproxy:2.4.26
    volumes:
      - ./haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg
      - ./certs:/etc/haproxy/certs
    cap_add:
      - CAP_NET_BIND_SERVICE
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=0
